:root {
    --primary: 99, 60, 255;
    --primary2: 190, 173, 255;
    --primary3: 239, 235, 255;
    --black: 51, 51, 51;
    --error: 255, 57, 57;
    --accent: 115, 115, 115;
    --accent2: 217, 217, 217;
    --accent3: 250, 250, 250;
}

html {
    @apply font-sans bg-accent3 text-accent;
}
